{% extends 'store/main.html' %}
{% load static %}
{% block title %}Галерея{% endblock %}
{% block content %}

<div id="wrapper" class="s1">
	<div id="header">
		<div class="bonnet">
			<div class="inner clearfix">
				<div class="left">
					<div class="vertical-element">
						<a href="../"><img style="background: currentColor;" src="../static/include/logo.png"></a>
					</div>
					<div class="vertical-helper"></div>
				</div>
				<div class="center">
					<div class="vertical-element">
						<p>Интернет-магазин</p>
					</div>
					<div class="vertical-helper"></div>
				</div>
				<div class="right">
					<div class="vertical-element">
						<p style="text-align: right;"> <span style="font-size: 17pt;">+7 (900) 000-00-00</span>
					</div>
					<div class="vertical-helper"></div>
				</div>
			</div>
		</div>
		<div class="navigation">
			<div class="inner clearfix">
				<input id="menu-state" type="checkbox" />
				<label class="menu-btn" for="menu-state"> <span class="menu-btn-icon"></span> </label>
				<ul id="menu" class="top sm sm-theme sm-flex" style="visibility: hidden;">
					<li> <a href="../products/">Каталог</a></li>
					<li> <a href="../price/">Прайс-лист</a> </li>
					<li class="selected"> <a href="">Галерея</a></li>
					<li> <a href="../services/">Услуги</a></li>
					<li> <a href="../contacts/">Контакты</a> </li>
				</ul>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<div id="content">
		<div class="inner clearfix">
			<div id="workarea" class="full clearfix">
				<div id="breadcrumbs" class="default"> <span>
							<a href="../" title="Главная">Главная</a>
					</span> <span>>
							Галерея					</span> </div>
				<h1 class="title">Галерея</h1>
				<div class="clearfix">
          {% for image in gallery %}
          <div class="element clearfix" style="width: 25%; display: block; box-sizing: border-box; float: left; width: 500px; height: 500px; marin: 20px; margin-right: 50px; margin-bottom: 50px;">
            <div style="line-height: 1.2; position: relative; height: 98.75%; margin: 2px; padding: 20px; transition: box-shadow .15s ease-in-out; width: 500px; height: 500px; box-shadow: 0 1px 3px rgba(0,0,0,.15);">
              <div class="picture">
                <img src="../static{{image.imageURL}}" style="width: 500px; height: 500px;"/>
              </div>
            </div>
          </div>
          {% endfor %}
				</div>
				<br> </div>
		</div>
	</div>
	<div id="footer">
		<div class="inner clearfix">
			<div class="left"> © ООО "Компания", 2000 — 2021
				<br> Все права защищены. </div>
			<div class="center"> 199333 Санкт-Петербург,
				<br> пр. Пятилеток дом 1, офис 100
				<br> <i class="fa fa-map-marker"></i> <a href="">карта проезда</a> </div>
        <script>
        function ScrollUp(){
            var t,s;
            s=document.body.scrollTop||window.pageYOffset;
            t=setInterval(function(){if(s>0)window.scroll(0,s-=5);else clearInterval(t)},5);
        }
        </script>
        <a href="#top"
           onclick="ScrollUp();return!1;"
           style="display:block;position:fixed;
                bottom:30px;right:30px;
                opacity:0.7;
                background:#ddd;
                -webkit-border-radius:15px;
                -moz-border-radius:15px;
                border-radius:100px;"><img src="../static/include/up.png" style="width: 64px; height: 64px;"></a>
		</div>
	</div>
</div>

{% endblock %}
