{% extends 'store/main.html' %}
{% load static %}
{% block title %}Каталог товаров{% endblock %}
{% block content %}

<div id="wrapper" class="s1">
		<div id="header">
			<div class="bonnet">
				<div class="inner clearfix">
					<div class="left">
						<div class="vertical-element" style="margin-top: -8%; position: inherit;">
							<a href="../"><img style="background: currentColor;" src="../static/include/logo.png" width="500" height="200"></a>
						</div>
						<div class="vertical-helper"></div>
					</div>
					<div class="right">
						<div class="vertical-element">
							<p style="text-align: right;"> <span style="font-size: 17pt;">(8452) 40-01-51 <br> 8-903-384-49-84</span></p>
						</div>
						<div class="vertical-helper"></div>
					</div>
				</div>
			</div>
			<div class="navigation">
				<div class="inner clearfix">
					<input id="menu-state" type="checkbox" />
					<label class="menu-btn" for="menu-state"> <span class="menu-btn-icon"></span> </label>
					<ul id="menu" class="top sm sm-theme sm-flex" style="visibility: hidden;">
						<li class="selected"> <a href="">Каталог</a></li>
						<li> <a href="../price/">Прайс-лист</a> </li>
						<li> <a href="../gallery/">Галерея</a></li>
						<li> <a href="../services/">Услуги</a></li>
						<li> <a href="../contacts/">Контакты</a> </li>
          </ul>
        </div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div id="content">
			<div class="inner clearfix">
				<div id="sidebar">
					<ul id="menu" class="left sm sm-theme sm-vertical">
						{% for section in menu %}
							<li> <a href="../{{section.url}}">{{section.name}}</a> </li>
						{% endfor %}
					</ul>
					<div class="box"> <i>Цель нашей компании - предложение широкого ассортимента товаров и услуг высокого качества.</i> </div>
				</div>
				<div id="workarea" class="partial clearfix">
					<div id="breadcrumbs" class="default"> <span>
							<a href="../" title="Главная">Главная</a>
					</span> <span>
							> Каталог товаров					</span> </div>
					<h1 class="title">Каталог товаров</h1>
					<div id="catalog" class="default">
						<div id="catalog-section-list" class="default">
							<div class="elements clearfix">
								{% for section in menu %}
									<div class="element clearfix">
										<div class="picture" style="float: left;">
											<a href="../{{section.url}}"> <img src="{{section.imageURL}}" width="200" height="150" /> </a>
										</div>
										<div class="overflow" style="float: left;">
											<div class="title" style="float: left;">&nbsp;&nbsp;&nbsp;&nbsp;<a href="../{{section.url}}">{{section.name}}</a> </div>
										<div class="description">&nbsp;&nbsp;&nbsp;&nbsp;{{section.description}}</div>
									</div>
								</div>

                <hr>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="footer">
			<div class="inner clearfix">
				<p><b>Для уточнения цены на товар и наличия товара обратитесь к менеджеру</b></p>
				<div class="left"> Питомник растений Вита Плант, 2021
					<br> Все права защищены. </div>
				<div class="center"> г. Саратов, Вольский тракт, 4б
					<br> <i class="fa fa-map-marker"></i> <a href="../contacts/">карта проезда</a> </div>
				<script>
				function ScrollUp(){
				    var t,s;
				    s=document.body.scrollTop||window.pageYOffset;
				    t=setInterval(function(){if(s>0)window.scroll(0,s-=5);else clearInterval(t)},5);
				}
				</script>
				<a href="#top"
				   onclick="ScrollUp();return!1;"
				   style="display:block;position:fixed;
				        bottom:30px;right:30px;
				        opacity:0.7;
				        background:#ddd;
				        -webkit-border-radius:15px;
				        -moz-border-radius:15px;
				        border-radius:100px"><img src="../static/include/up.png" style="width: 64px; height: 64px;"></a>
			</div>
		</div>
	</div>

{% endblock %}
