{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<body>
	<div id="wrapper" class="s1">
		<div id="header">
			<div class="bonnet">
				<div class="inner clearfix">
					<div class="left">
						<div class="vertical-element">
							<a href=""><img style="background: currentColor;" src="static/include/logo.png"></a>
						</div>
						<div class="vertical-helper"></div>
					</div>
					<div class="center">
						<div class="vertical-element">
							<p>Интернет-магазин</p>
						</div>
						<div class="vertical-helper"></div>
					</div>
					<div class="right">
						<div class="vertical-element">
							<p style="text-align: right;"> <span style="font-size: 17pt;">+7 (900) 000-00-00</span></p>
						</div>
						<div class="vertical-helper"></div>
					</div>
				</div>
			</div>
			<div class="navigation">
				<div class="inner clearfix">
					<input id="menu-state" type="checkbox" />
					<label class="menu-btn" for="menu-state"> <span class="menu-btn-icon"></span> </label>
					<ul id="menu" class="top sm sm-theme sm-flex" style="visibility: hidden;">
						<li> <a href="products/">Каталог</a> </li>
						<li> <a href="price/">Прайс-лист</a> </li>
						<li> <a href="contacts/">Контакты</a> </li>
						<li> <a href="services/">Услуги</a></li>
						<li> <a href="gallery/">Галерея</a></li>
					</ul>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div id="content">
			<div class="inner clearfix">
				<div id="workarea" class="full clearfix">
					<h3>Каталог товаров</h3>
					<p> Следует отметить, что семантический разбор внешних противодействий позволяет выполнить важные задания по разработке новых предложений! Есть над чем задуматься: сделанные на базе интернет-аналитики выводы, превозмогая сложившуюся непростую экономическую ситуацию, ограничены исключительно образом мышления. Принимая во внимание показатели успешности, базовый вектор развития не оставляет шанса для существующих финансовых и административных условий. </p>
					<div id="catalog-section-list" class="panel">
						<div class="elements clearfix">
							{% for section in menu %}
								<div class="element clearfix">
									<a href="{{section.url}}">
										<div class="picture" style="background-image: url('{{section.imageURL}}');"></div>
		 									<div class="title"> <span>{{section.name}}</span> </div>
									</a>
								</div>
							{% endfor %}
					</div>
					<hr>
					<div class="clearfix">
						<div style="text-align: center;">
							<h3>О компании</h3>
							<p> Имеется спорная точка зрения, гласящая примерно следующее: активно развивающиеся страны третьего мира лишь добавляют фракционных разногласий и обнародованы. Учитывая ключевые сценарии поведения, семантический разбор внешних противодействий выявляет срочную потребность стандартных подходов. Сложно сказать, почему явные признаки победы институционализации могут быть ограничены исключительно образом мышления. </p>
						</div>
					</div>
					<br> </div>
			</div>
		</div>
		<div id="footer">
			<div class="inner clearfix">
				<div class="left"> © ООО "Компания", 2000 — 2021
					<br> Все права защищены. </div>
				<div class="center"> 199333 Санкт-Петербург,
					<br> пр. Пятилеток дом 1, офис 100
					<br> <i class="fa fa-map-marker"></i> <a href="contacts/">карта проезда</a> </div>
			</div>
		</div>
	</div>

{% endblock %}
